* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-size: 18px;
  font-family: sans-serif;
}

h1 {
  text-align: center;
}

/*
essential styles: these make the slideshow work
*/

.carousel {
  height: 100vh;
  position: relative;
  display: grid;
  align-content: center;
  justify-items: center;
  background-color: inherit;
}

.carousel * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.carousel--loading .controls,
.carousel--loading .indicators {
  opacity: 0;
}

.controls,
.indicators {
  opacity: 1;
  transition: all 1s ease-out 1s;
}

.carousel--loading .loading-screen {
  opacity: 1;
}


.slides {
  height: 100%;
  width: 100%;
}

.slide {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: 1.5s;
  font-size: 40px;
  color: #fff;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

.slide--active {
  opacity: 1;
  z-index: 1;
}

.controls {
  font-size: 36px;
  color: white;
  position: absolute;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.control {
  display: grid;
  align-items: center;
  width: 90%;
  margin-inline: auto;
}

.control * {
  max-height: 10rem;
  max-width: 10rem;
  font-size: 3rem;
  cursor: pointer;
  padding: 2rem;
  text-shadow: 0 0 1px black, 0 0 2px black, 0 0 3px black, 0 0 4px black, 0 0 5px #fff, 0 0 20px #fff;
}

.control-prev *,
.control-next *,
.control-pause * {
  opacity: 0.5;
  transition: all 0.5s ease-out;
}

.control-prev *:hover,
.control-next *:hover,
.control-pause *:hover,
.control-pause .fa-play {
  opacity: 1;
  transform: scale(1.5);
}

.control-prev * {
  justify-self: start;
}

.control-next * {
  justify-self: end;
}

.control-pause * {
  justify-self: center;
}

.indicators {
  position: absolute;
  bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 2;
}

.indicator {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid black;
  box-shadow: 0 0 10px #fff, 0 0 20px #fff;
  margin: 0 5px;
  z-index: 3;
  opacity: 0.5;
  cursor: pointer;
  transform: scale(1);
  transition: transform 0.5s ease-out;
}

.indicator:hover {
  transform: scale(1.25);

}

.indicator--active {
  background-color: black;
  transform: scale(1.25);
}

.loading-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  font-size: 2rem;
  z-index: 100;
  transition: opacity 0.5s ease-out;
  opacity: 0;
}

.loading-screen i {
  color: white;
  font-size: 36px;
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}